[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
boto3 = "*"
setuptools = "*"
pytz = "*"
flask-mailman = "*"
dotenv = "*"
bcrypt = "*"
email-validator = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.8"
